.form {
    display: flex;
    gap: 20px;
    flex-direction: column;
}
.head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.title {
    font-size: 22px;
}
.subTitle {
    font-size: 1rem;
}
.footer {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    button {
        text-transform: none;
    }
    a {
        color: $primaryBlue;
    }
}
